<div class="flexslider">
    <ul class="slides">
        <li>
            <img src={{ image1 }} />
        </li>
        <li>
            <img src={{ image2 }} />
        </li>
        <li>
            <img src={{ image3 }} />
        </li>
    </ul>
</div>